
<ion-menu [content]="content" side="left" id="leftMenu">
  <ion-header>
    <ion-toolbar><ion-title>Left Menu</ion-title></ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <button menuClose="leftMenu" ion-item *ngFor="let p of pages" (click)="openPage(p)">
        {{p.title}}
      </button>
    </ion-list>
  </ion-content>
  <ion-footer >
    <button ion-button full large>LogOut</button>
  </ion-footer>
</ion-menu>



<ion-menu [content]="content" side="right" id="rightMenu">
  <ion-header >
    <ion-toolbar><ion-title>Right Menu</ion-title></ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <button menuClose="rightMenu" ion-item *ngFor="let p of pages" (click)="openPage(p)">
        {{p.title}}
      </button>
    </ion-list>
  </ion-content>
</ion-menu>


<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
